/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin:0; 
	font-size: 100%;
}  
 @font-face {
   font-family: 'CinzelDecorative-Regular';
   src: url(../fonts/CinzelDecorative-Regular.ttf)format('truetype');
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

/*--main--*/
/*--header start here--*/
body {
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.logo a{
	font-size:40px;
	color: #fff;
	float: left;
   font-family: 'CinzelDecorative-Regular';
   font-weight: bold;
}
.social{
	float: right;
}
.social li {
    display: inline-block;
    margin: 0 10px;
}
.social li  a{
    font-size: 18px;
    color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-facebook:hover {
    color: #3b5998;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-twitter:hover {
    color: #1da1f2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-linkedin:hover {
    color: #0077b5;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-google-plus:hover {
    color: #dd4b39;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.logo-header{
	padding:0 2em;
}

.header {
	text-align:center;
    margin-top: 50px;
}
.banner-dott{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 2em 0em;
}
.header h1 {
    color: #EAEAEA;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 10px;
   font-family: 'CinzelDecorative-Regular';
}
.header h1 span {
    font-weight: bold;
color: #fff;
}

/*--timer--*/
.agile {
	text-align: center;
	padding: 3.5em 0;
}

.examples {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

div#simply-countdown-losange {
    max-width: 40%;
    margin: 5vw 5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: no-wrap;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.simply-section {
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    padding: 1vw;
}

span.simply-amount {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: bold;
    font-size: 70px;
    font-family: 'CinzelDecorative-Regular';
}

span.simply-word {	
    font-size: .8em;
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 100;
}

/* --//timer-- */

.btn {
    background: #4CAF50;
    cursor: pointer;
    padding:19px 19px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
       margin-left: -50px;
    text-indent: -9999px;
        margin-top: -1px;
    outline: none;
    width: 23px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}
button span {
    background: url(../images/arrow1.png) repeat-x 0px 0px;
    height: 30px;
    width: 32px;
    display: block;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    top: 4px;
    position: absolute;
    left: 2px;
}
/* Button 4 */
.btn-4 {
    border: 0px solid rgb(247, 246, 247);
    color: #fff;
    overflow: hidden;
}
/*--w3layouts--*/
/*--agileits--*/
.btn-4:active {
	color: #17954c;
}

button span:hover {
    background: url(../images/arrow1.png) repeat-x 32px 0px;
    height: 30px;
    width: 32px;
    display: block;
    outline: none;
    border: none;
}

.btn-4:before {
	position: absolute;
	left:70%;

	display:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.btn-4:active:before {
	color: #17954c;
	left: 20%;
opacity: 0;
top: 20px;
}
input[type="email"] {
    border: none;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 1px;
    display: inline;
    padding: 15px 18px;
    padding: 15px 50px 15px 55px;
    background: #4CAF50;
	padding-right: 4em;
    outline: none;
    width: 71%;
	margin-bottom:20px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}
input[type="submit"] {
    border: none;
    color: #fff;
    font-size: 1em;
	margin-top: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline;
    padding: 15px 18px;
    padding: 15px 50px 15px 55px;
    background: #fd5c63;
	padding-right: 4em;
    cursor: pointer;
    outline: none;
    width: 99%;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
input[type="submit"]:hover{
	background: #1cc7d0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color:#fff;
}
::-ms-input-placeholder { /* IE 10+ */
	color:#fff;
}
::-moz-placeholder { /* Firefox 18- */
	color:#fff;
}
/*--w3layouts--*/
/*--agileits--*/
.footer a, a:active {
    color: #1cc7d0;
	font-weight: 500;
    text-decoration: none;
}
.footer a:hover {
    color: #fd5c63;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}
.footer {
	text-align:center;
    margin: 5em 0 1em;
}
.footer p {
	color:#fff;
    font-size: .9em;
    line-height: 25px;
    letter-spacing: 2px;
}
.content3 p a {
    background: #fd5c63;
    font-size: 16px;
    padding: 12px 30px;
    display: initial;
    border-radius: 30px;
	transition:0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content3 p a:hover{
    background: #1cc7d0;
}
.content3 p a{
    color: #fff;
}

.content3 p a:focus{
    outline: none;
}
h3.sub-head-w3-agileits {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
input[type="email"] {
    background: rgba(0, 0, 0, 0.55) url(../images/email.png) no-repeat 10px 10px;
    background-size: 30px;
}
input[type="email"] {
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin: 14px 0px;
    border: none;
    border-bottom: 1px solid #fff;
    letter-spacing: .5px;
}
.icon {
    text-align: center;
}
.icon span.fa {
    font-size: 40px;
    margin-bottom: 20px;
	color: #888;
}



/*-- responsive --*/

@media (max-width:1440px) {
	.header-main {
		width: 35%;
	}
	div#simply-countdown-losange {
		max-width: 42%;
	}
}
@media (max-width:1366px) {
	.header-main {
		width: 36%;
	}
	div#simply-countdown-losange {
		max-width: 44%;
	}
}
@media (max-width:1280px) {
	.header-main {
		width: 37%;
	}
	.t ,.g,.f{
		padding: .4em 1em;
	}
	.header-left-bottom input[type="submit"] {
		font-size: 1.4em;
	}
	.logo a {
		font-size: 35px;
	}
	.countDays, .countHours, .countMinutes, .countSeconds {
		width: 160px;
	}
	div#simply-countdown-losange {
		max-width: 48%;
	}
}
@media (max-width:1080px) {
	.header-main h1 {
		font-size: 2.1em;
	}
	.header-left-bottom input[type="submit"] {
		font-size: 1.2em;
		padding: 0.4em 1em;
	}
	.t, .g, .f {
		padding: .3em .4em;
	}
	.header h1 {
		font-size: 50px;
	}
	.countDays, .countHours, .countMinutes, .countSeconds {
		width: 150px;
	}
	div#simply-countdown-losange {
		max-width: 55%;
	}
	.content3 p {
		margin: 1em 2em 3em;
	}
}
@media (max-width:1024px) {
	.header-main {
		width: 39%;
	}
	.sign-up h2 {
		font-size: 1.2em;
		width: 35px;
		height: 35px;
	}
	input[type="email"] {
		width: 70%;
	}
	div#simply-countdown-losange {
		max-width: 56%;
	}
}
@media (max-width:991px) {
	.header-main {
		width: 41%;
	}
	.countDays, .countHours, .countMinutes, .countSeconds {
		width: 140px;
	}
	.header h1 {
		font-size: 45px;
	}
	#counter {
		height: 155px;
	}
	span.simply-amount {
		font-size: 60px;
	}
}
@media (max-width:900px) {
	
}

@media (max-width:800px) {
	.header-main {
		width: 50%;
		padding: 2em 4em;
	}
	.header h1 {
		font-size: 40px;
	}
	.bg.agile {
		padding: 2em 0;
	}
	input[type="email"] {
		width: 67%;
	}
	span.simply-amount {
		font-size: 50px;
	}
}
@media (max-width:768px) {
	.header-main {
		width: 53%;
	}
}
@media (max-width:736px) {
	.header-main {
		width: 55%;
		padding: 2em 3em;
	}
	.header h1 {
		font-size: 35px;
	}
	.logo a {
		font-size: 30px;
	}
}
@media (max-width: 667px) {
	.header-main {
		width: 62%;
		padding: 3em;
	}
	.logo a {
		font-size: 28px;
	}
	div#simply-countdown-losange {
		max-width: 60%;
	}
	span.simply-amount {
		font-size: 45px;
	}
	.footer p {
		letter-spacing: 1px;
	}
}
@media (max-width:640px) {
	input[type="email"] {
		width: 72%;
	}
	div#simply-countdown-losange {
		max-width: 65%;
	}
}
@media (max-width:600px) {
	.header-main {
		width: 68%;
		padding: 2em;
	}
	.header h1 {
		font-size: 30px;
	}
	.content3 p a {
		font-size: 15px;
		padding: 10px 30px;
	}
}
@media (max-width:568px) {
	.header-main h1 {
		font-size: 2em;
	}
	.t, .g, .f {
		font-size: .9em;
	}
	.copyright p {
		margin: 0 1em;
	}
	.sign-up h2 {
		font-size: 1.1em;
		width: 32px;
		height: 32px;
		line-height: 2em;
	}
	.footer {
		margin: 3em 1em 1em;
	}
	span.simply-amount {
		font-size: 40px;
	}
	div#simply-countdown-losange {
		max-width: 70%;
	}
}
@media (max-width:480px) {
	.header-main {
		width: 80%;
		padding: 2em;
	}
	input[type="email"] {
		width: 63%;
	}
	div#simply-countdown-losange {
		max-width: 80%;
	}
}
@media (max-width:414px) {
	.header-main h1 {
		font-size: 1.5em;
	}
	.header-main {
		width: 70%;
		padding: 2em;
	}
	.icon1 i.fa {
		font-size: 1.2em;
	}
	.header-left-bottom input[type="text"],.header-left-bottom input[type="email"],.header-left-bottom input[type="tel"],.header-left-bottom input[type="password"] {
		font-size: .8em;
	}
	.header-left-bottom input[type="submit"] {
		font-size: 1em;
		padding: 0.4em;
	}
	.header-left-bottom input[type="text"] {
		padding: 7px 8px 15px 20px;
	}
	.header-left-bottom input[type="email"] {
		padding: 7px 8px 15px 11px;
	}
	.header-left-bottom input[type="tel"] {
		padding: 7px 8px 15px 17px;
	}
	.header-left-bottom input[type="password"] {
		padding: 7px 8px 15px 20px;
	}
	.sign-up h2 {
		font-size: 1em;
		width: 30px;
		height: 30px;
	}
	.t, .g, .f {
		font-size: .7em;
		padding: .6em .4em;
		border: 1px solid #3b5998;
	}
	.f:hover, .g:hover, .t:hover {
		border: 1px solid #FFFFFF;
	}
	.header h1 {
		font-size: 25px;
	}
	.logo a {
		font-size: 23px;
	}
	.boxName {
		font-size: 14px;
	}
	.content {
		padding: 30px 30px 0;
	}
	.social li a {
		font-size: 16px;
	}
	.social li {
		margin: 0 5px;
	}
	input[type="email"] {
		width: 60%;
	}
	input[type="submit"] {
		padding: 10px 50px 10px 55px;
	}
	span.simply-amount {
		font-size: 35px;
	}
	div#simply-countdown-losange {
		max-width: 92%;
		margin: 6vw 0vw;
	}
}
@media (max-width:384px) {
	.header-main {
		width: 77%;
	}
	.copyright p {
		font-size: .9em;
	}
	.sign-up {
		margin: 1em 0;
	}
	input[type="email"] {
		width: 56%;
	}
	span.simply-word {
		font-size: .7em;
		letter-spacing: 2px;
	}
}
@media (max-width:375px) {
	.header-main {
		width: 79%;
	}
	input[type="email"] {
		width: 55%;
	}
}
@media (max-width:320px) {
	.w3ls-header {
		padding: 0em 0 0;
	}
	.header-main {
		width: 93%;
		padding: 2em 0.5em;
	}
	.icon1 {
		margin: 0 0 .5em;
	}
	.icon1 i.fa {
		font-size: 1em;
	}
	.header-left-bottom input[type="text"], .header-left-bottom input[type="email"], .header-left-bottom input[type="tel"], .header-left-bottom input[type="password"] {
		font-size: .7em;
	}
	.header-left-bottom input[type="submit"] {
		font-size: .9em;
		padding: 0.3em 0;
	}
	.copyright p {
		font-size: .8em;
	}
	.copyright p a {
		font-size: 1em;
	}
	.logo-header {
		padding: 0 1em;
	}
	.boxName {
		font-size: 12px;
	}
	input[type="email"] {
		width: 77%;
		padding: 13px 0px 8px 50px;
	}
	input[type="email"] {
		background: rgba(0, 0, 0, 0.55) url(../images/email.png) no-repeat 10px 7px;
		background-size: 25px;
	}
	.my-mfp-zoom-in.mfp-ready #small-dialog {
		padding: 40px 30px !important;
	}
}
/*-- //responsive --*/
